.clang-format @Ubospica
.cmake-format.yaml @Yixin Dong
.github/ISSUE_TEMPLATE/bug_report.yml @Linzhang Li
.github/ISSUE_TEMPLATE/feature_request.yml @Linzhang Li
.github/workflows/benchmark.yaml @Alexander Jiang
.github/workflows/build_and_release.yaml @Zac Bowling
.github/workflows/build_web_xgrammar.yaml @Linzhang Li @DarkSharpness
.github/workflows/close_issues.yaml @Linzhang Li @Yixin Dong
.github/workflows/documentation.yaml @Ruihang Lai
.github/workflows/routine_unit_test.yaml @DarkSharpness
.github/workflows/tmate.yaml @Yixin Dong
.github/workflows/unit_test.yaml @DarkSharpness
.gitignore @Ubospica
.gitmodules @Yixin Dong @Ubospica
.pre-commit-config.yaml @Ubospica @Yixin Dong
.yamlfmt @Yixin Dong
3rdparty/cpptrace
3rdparty/dlpack
3rdparty/googletest
3rdparty/picojson/picojson.h @Ubospica
3rdparty/picojson/test_picojson.cpp @Ubospica
CMakeLists.txt @Yixin Dong
CODEOWNERS @Yuchuan
CONTRIBUTING.md @Yuchuan
LICENSE @Ubospica
NOTICE @Tianqi Chen
README.md @Yixin Dong
assets/logo.png
assets/logo.svg @Yixin Dong
assets/logo_square.png
cmake/config.cmake @Yixin Dong @Linzhang Li
cpp/compiled_grammar.cc @Yixin Dong @DarkSharpness
cpp/compiled_grammar_impl.h @Yixin Dong @DarkSharpness
cpp/config.cc @DarkSharpness
cpp/earley_parser.cc @Linzhang Li
cpp/earley_parser.h @Linzhang Li
cpp/ebnf_script_creator.h @Yixin Dong
cpp/fsm.cc @Linzhang Li @Yixin Dong
cpp/fsm.h @Yixin Dong
cpp/fsm_builder.cc @Yixin Dong @Linzhang Li
cpp/fsm_builder.h @Yixin Dong
cpp/grammar.cc @Ubospica
cpp/grammar_builder.h @Ubospica @Yixin Dong
cpp/grammar_compiler.cc @Linzhang Li @Yixin Dong
cpp/grammar_functor.cc @Linzhang Li @Yixin Dong
cpp/grammar_functor.h @Yixin Dong @Ubospica
cpp/grammar_impl.h @Ubospica @Yixin Dong
cpp/grammar_matcher.cc @Yixin Dong @Ubospica
cpp/grammar_parser.cc @Yixin Dong
cpp/grammar_parser.h @Yixin Dong @Ubospica
cpp/grammar_printer.cc @Ubospica @Yixin Dong
cpp/grammar_printer.h @Ubospica @Yixin Dong
cpp/json_schema_converter.cc
cpp/json_schema_converter.h @Yixin Dong @Linzhang Li
cpp/nanobind/CMakeLists.txt @Alex Trotta @Yixin Dong
cpp/nanobind/nanobind.cc @Alex Trotta
cpp/nanobind/python_methods.cc @Yixin Dong
cpp/nanobind/python_methods.h @Yixin Dong
cpp/regex_converter.cc @Yixin Dong
cpp/regex_converter.h @Yixin Dong
cpp/structural_tag.cc @Yixin Dong
cpp/structural_tag.h @Yixin Dong
cpp/support/compact_2d_array.h @Yixin Dong
cpp/support/container.h @DarkSharpness
cpp/support/cpptrace.h @Yixin Dong
cpp/support/dynamic_bitset.h @Ubospica @Yixin Dong
cpp/support/encoding.h @Ubospica
cpp/support/int_set.h @Ubospica
cpp/support/json_serializer.h @DarkSharpness
cpp/support/logging.cc @Ubospica
cpp/support/logging.h @Ubospica
cpp/support/memory_size.h @Yixin Dong @DarkSharpness
cpp/support/recursion_guard.cc @Yixin Dong
cpp/support/recursion_guard.h @Yixin Dong
cpp/support/reflection.h @DarkSharpness
cpp/support/thread_pool.h @Yixin Dong
cpp/support/thread_safe_cache.h @DarkSharpness @Yixin Dong
cpp/support/union_find_set.h @Linzhang Li
cpp/support/utils.h @Yixin Dong
cpp/testing.cc @Yixin Dong
cpp/testing.h @Yixin Dong
cpp/tokenizer_info.cc @Yixin Dong
cpp/tokenizer_info_impl.h @Yixin Dong @DarkSharpness
docs/.gitignore @Ruihang Lai @Yixin Dong
docs/Makefile @Ruihang Lai
docs/README.md @Ruihang Lai
docs/_static/css/fix_text_selection.css @Yixin Dong
docs/_static/img/logo.png
docs/_static/img/mlc-logo-with-text-landscape.svg @Ruihang Lai
docs/api/python/bitmask_ops.rst @Yixin Dong
docs/api/python/compiled_grammar.rst @Yixin Dong
docs/api/python/config.rst @Yixin Dong
docs/api/python/exception.rst @Yixin Dong
docs/api/python/grammar.rst @Yixin Dong
docs/api/python/grammar_compiler.rst @Yixin Dong
docs/api/python/grammar_matcher.rst @Yixin Dong
docs/api/python/index.rst @Yixin Dong
docs/api/python/structural_tag.rst @Yixin Dong
docs/api/python/testing.rst @Yixin Dong
docs/api/python/tokenizer_info.rst @Yixin Dong
docs/build_docs.sh @Yixin Dong
docs/conf.py @Yixin Dong @Ruihang Lai
docs/developer_guide/building_docs.md @Yixin Dong
docs/developer_guide/code_coverage.md @Yixin Dong @Linzhang Li
docs/index.rst @Yixin Dong
docs/requirements.txt @Yixin Dong
docs/start/installation.md @Yixin Dong
docs/start/quick_start.md @Yixin Dong @Charlie Ruan
docs/tutorials/advanced_structural_tag.md @Yixin Dong
docs/tutorials/advanced_topics.md @Yixin Dong @Linzhang Li
docs/tutorials/constrained_decoding.md @Yixin Dong
docs/tutorials/ebnf_guided_generation.md @Charlie Ruan @Yixin Dong
docs/tutorials/engine_integration.md @Charlie Ruan @Yixin Dong
docs/tutorials/json_generation.md @Charlie Ruan @Yixin Dong
docs/tutorials/structural_tag.md @Yixin Dong
docs/tutorials/workflow_of_xgrammar.md @Yixin Dong
docs/wrap_run_llm.py @Yixin Dong
docs/xgrammar_features/javascript_api.md @Yixin Dong
docs/xgrammar_features/runtime_safeguards.md @Yixin Dong
docs/xgrammar_features/serialization.md @DarkSharpness @Yixin Dong
examples/benchmark/README.md @Jialin Ouyang @Yixin Dong
examples/benchmark/bench_apply_token_bitmask_inplace.py @Jialin Ouyang @Enwei Zhu
examples/benchmark/bench_grammar_compile_mask_gen.py @Yixin Dong
examples/benchmark/cibench_grammar_compile_mask_gen.py @Alexander Jiang
examples/hf_transformers/transformers_example.py @Charlie Ruan
include/xgrammar/compiler.h @Yixin Dong
include/xgrammar/config.h @DarkSharpness
include/xgrammar/exception.h @Yixin Dong @DarkSharpness
include/xgrammar/grammar.h @Yixin Dong
include/xgrammar/matcher.h @Yixin Dong
include/xgrammar/object.h @Yixin Dong @Ubospica
include/xgrammar/tokenizer_info.h @Yixin Dong @DarkSharpness
include/xgrammar/xgrammar.h @Yixin Dong @Ubospica
pyproject.toml @Zac Bowling
python/xgrammar/__init__.py @Yixin Dong
python/xgrammar/base.py @Yixin Dong
python/xgrammar/compiler.py @Yixin Dong
python/xgrammar/config.py @Yixin Dong
python/xgrammar/contrib/__init__.py
python/xgrammar/contrib/hf.py @Charlie Ruan
python/xgrammar/contrib/mlxlm.py @Yi Wang
python/xgrammar/exception.py @DarkSharpness @Yixin Dong
python/xgrammar/grammar.py @Yixin Dong
python/xgrammar/kernels/__init__.py @Yixin Dong
python/xgrammar/kernels/apply_token_bitmask_inplace_cpu.py @Jialin Ouyang
python/xgrammar/kernels/apply_token_bitmask_inplace_cuda.cu @Enwei Zhu @Yixin Dong
python/xgrammar/kernels/apply_token_bitmask_inplace_cuda.py @Zac Bowling @Enwei Zhu
python/xgrammar/kernels/apply_token_bitmask_inplace_torch_compile.py @Yixin Dong
python/xgrammar/kernels/apply_token_bitmask_inplace_triton.py @Yixin Dong @Zihao Ye
python/xgrammar/kernels/apply_token_bitmask_mlx.py @Yi Wang
python/xgrammar/matcher.py @Yixin Dong
python/xgrammar/py.typed
python/xgrammar/structural_tag.py @Yixin Dong
python/xgrammar/support/__init__.py
python/xgrammar/support/logging.py @Ruihang Lai
python/xgrammar/testing.py @Yixin Dong
python/xgrammar/tokenizer_info.py @Yixin Dong
scripts/build-environment.yaml @Ruihang Lai
scripts/docker/bash.sh @Ruihang Lai
scripts/generate_code_owner.bash @Yuchuan
scripts/gh_deploy_site.sh @Ruihang Lai
scripts/lint.sh @Ubospica
scripts/local_deploy_site.sh @Ruihang Lai @Yixin Dong
scripts/release_new_version.sh @Yixin Dong
scripts/run_coverage.sh @Linzhang Li
scripts/run_ctest.sh @Yixin Dong
scripts/support/build_site.sh @Ruihang Lai @Yixin Dong
site/.gitignore @Ruihang Lai
site/CNAME @Ruihang Lai
site/Gemfile @Ruihang Lai
site/_config.yml @Ruihang Lai
site/_includes/arrow.svg @Ruihang Lai
site/_includes/github.svg @Ruihang Lai
site/_includes/head.html @Ruihang Lai
site/_includes/hero.html @Ruihang Lai
site/assets/css/hero.scss @Ruihang Lai
site/index.md @Ruihang Lai
tests/README.md @Charlie Ruan
tests/cpp/test_fsm.cc @Linzhang Li
tests/cpp/test_fsm_builder.cc @Linzhang Li
tests/cpp/test_parser.cc @Yixin Dong
tests/cpp/test_serialization.cc @DarkSharpness
tests/cpp/test_thread_pool.cc @Yixin Dong
tests/cpp/test_thread_safe_cache.cc @Yixin Dong
tests/cpp/test_utils.h @Yixin Dong
tests/python/test_function_calling_converter.py @Linzhang Li
tests/python/test_grammar_compiler.py @Yixin Dong
tests/python/test_grammar_matcher_basic.py @Yixin Dong
tests/python/test_grammar_matcher_ebnf.py @Ubospica @Yixin Dong
tests/python/test_grammar_matcher_json.py @Ubospica @Yixin Dong
tests/python/test_grammar_matcher_json_schema.py @Yixin Dong @Alexander Jiang
tests/python/test_grammar_matcher_macro.py @Yixin Dong @Linzhang Li
tests/python/test_grammar_matcher_regex.py @Yixin Dong
tests/python/test_grammar_matcher_structural_tag.py @Yixin Dong @Linzhang Li
tests/python/test_grammar_parser.py @Yixin Dong
tests/python/test_grammar_parser_macro.py @Yixin Dong @Linzhang Li
tests/python/test_grammar_union_concat.py @Yixin Dong @Linzhang Li
tests/python/test_json_schema_converter.py @Yixin Dong
tests/python/test_recursion_depth.py @Yixin Dong
tests/python/test_regex_converter.py @Yixin Dong
tests/python/test_serialization.py @DarkSharpness
tests/python/test_structural_tag_converter.py @Yixin Dong
tests/python/test_token_bitmask_operations.py @Yixin Dong
tests/python/test_tokenizer_info.py @Yixin Dong
web/.eslintignore @Charlie Ruan
web/.eslintrc.cjs @Charlie Ruan
web/.gitignore @Charlie Ruan
web/README.md @Charlie Ruan
web/build.sh @Charlie Ruan
web/config.cmake @Charlie Ruan
web/example/package.json @Charlie Ruan
web/example/src/example.html @Charlie Ruan
web/example/src/example.ts @Charlie Ruan
web/example/tsconfig.json @Charlie Ruan
web/jest.config.cjs @Charlie Ruan
web/package-lock.json @Charlie Ruan
web/package.json @Charlie Ruan
web/rollup.config.js @Charlie Ruan
web/run_test.sh @Charlie Ruan
web/src/index.ts @Charlie Ruan
web/src/xgrammar.ts @Charlie Ruan
web/src/xgrammar_binding.cc @Charlie Ruan
web/tests/grammar.test.ts @Charlie Ruan
web/tsconfig.json @Charlie Ruan
