.clang-format Ubospica <ubospica@gmail.com>
.cmake-format.yaml Yixin Dong <ubospica@gmail.com>
.github/ISSUE_TEMPLATE/bug_report.yml Linzhang Li <Blemiade_Qinchuan@sjtu.edu.cn>
.github/ISSUE_TEMPLATE/feature_request.yml Linzhang Li <Blemiade_Qinchuan@sjtu.edu.cn>
.github/workflows/benchmark.yaml Alexander Jiang <zander.jiang@gmail.com>
.github/workflows/build_and_release.yaml Zac Bowling <zac@zacbowling.com>
.github/workflows/build_web_xgrammar.yaml Linzhang Li <yuchuan.7streams@gmail.com> DarkSharpness <76582120+DarkSharpness@users.noreply.github.com>
.github/workflows/close_issues.yaml Linzhang Li <144923845+Seven-Streams@users.noreply.github.com> Yixin Dong <yixind@andrew.cmu.edu>
.github/workflows/documentation.yaml Ruihang Lai <ruihangl@cs.cmu.edu>
.github/workflows/routine_unit_test.yaml DarkSharpness <76582120+DarkSharpness@users.noreply.github.com>
.github/workflows/tmate.yaml Yixin Dong <yixind@andrew.cmu.edu>
.github/workflows/unit_test.yaml DarkSharpness <76582120+DarkSharpness@users.noreply.github.com>
.gitignore Ubospica <ubospica@gmail.com>
.gitmodules Ubospica <ubospica@gmail.com> Yixin Dong <ubospica@gmail.com> Yixin Dong <yixind@andrew.cmu.edu>
.pre-commit-config.yaml Ubospica <ubospica@gmail.com>
.yamlfmt Yixin Dong <yixind@andrew.cmu.edu>
3rdparty/cpptrace
3rdparty/dlpack
3rdparty/googletest
3rdparty/picojson/picojson.h Ubospica <ubospica@gmail.com>
3rdparty/picojson/test_picojson.cpp Ubospica <ubospica@gmail.com>
CMakeLists.txt Yixin Dong <ubospica@gmail.com>
LICENSE Ubospica <ubospica@gmail.com>
NOTICE Tianqi Chen <tqchen@users.noreply.github.com>
README.md Yixin Dong <yixind@andrew.cmu.edu>
assets/logo.png
assets/logo.svg Yixin Dong <yixind@andrew.cmu.edu>
assets/logo_square.png
cmake/config.cmake Yixin Dong <ubospica@gmail.com> Linzhang Li <Blemiade_Qinchuan@sjtu.edu.cn>
cpp/compiled_grammar.cc Yixin Dong <yixind@andrew.cmu.edu> DarkSharpness <76582120+DarkSharpness@users.noreply.github.com>
cpp/compiled_grammar_impl.h DarkSharpness <76582120+DarkSharpness@users.noreply.github.com>
cpp/config.cc DarkSharpness <76582120+DarkSharpness@users.noreply.github.com>
cpp/earley_parser.cc Linzhang Li <Blemiade_Qinchuan@sjtu.edu.cn>
cpp/earley_parser.h Linzhang Li <Blemiade_Qinchuan@sjtu.edu.cn>
cpp/ebnf_script_creator.h Yixin Dong <yixind@andrew.cmu.edu>
cpp/fsm.cc Yixin Dong <yixind@andrew.cmu.edu> Linzhang Li <Blemiade_Qinchuan@sjtu.edu.cn>
cpp/fsm.h Yixin Dong <yixind@andrew.cmu.edu>
cpp/fsm_builder.cc Yixin Dong <yixind@andrew.cmu.edu>
cpp/fsm_builder.h Yixin Dong <yixind@andrew.cmu.edu>
cpp/grammar.cc Ubospica <ubospica@gmail.com>
cpp/grammar_builder.h Ubospica <ubospica@gmail.com>
cpp/grammar_compiler.cc Linzhang Li <Blemiade_Qinchuan@sjtu.edu.cn>
cpp/grammar_functor.cc Linzhang Li <Blemiade_Qinchuan@sjtu.edu.cn> Yixin Dong <yixind@andrew.cmu.edu>
cpp/grammar_functor.h Ubospica <ubospica@gmail.com> Yixin Dong <yixind@andrew.cmu.edu>
cpp/grammar_impl.h Ubospica <ubospica@gmail.com>
cpp/grammar_matcher.cc Ubospica <ubospica@gmail.com>
cpp/grammar_parser.cc Yixin Dong <yixind@andrew.cmu.edu>
cpp/grammar_parser.h Yixin Dong <yixind@andrew.cmu.edu> Ubospica <ubospica@gmail.com>
cpp/grammar_printer.cc Ubospica <ubospica@gmail.com> Yixin Dong <yixind@andrew.cmu.edu>
cpp/grammar_printer.h Ubospica <ubospica@gmail.com>
cpp/json_schema_converter.cc
cpp/json_schema_converter.h Yixin Dong <ubospica@gmail.com> Linzhang Li <Blemiade_Qinchuan@sjtu.edu.cn>
cpp/nanobind/CMakeLists.txt Alex Trotta <44127594+Ahajha@users.noreply.github.com>
cpp/nanobind/nanobind.cc Alex Trotta <44127594+Ahajha@users.noreply.github.com>
cpp/nanobind/python_methods.cc Yixin Dong <ubospica@gmail.com> Yixin Dong <yixind@andrew.cmu.edu>
cpp/nanobind/python_methods.h Yixin Dong <ubospica@gmail.com>
cpp/regex_converter.cc Yixin Dong <ubospica@gmail.com>
cpp/regex_converter.h Yixin Dong <ubospica@gmail.com>
cpp/structural_tag.cc Yixin Dong <yixind@andrew.cmu.edu>
cpp/structural_tag.h Yixin Dong <yixind@andrew.cmu.edu>
cpp/support/compact_2d_array.h Yixin Dong <yixind@andrew.cmu.edu>
cpp/support/container.h DarkSharpness <76582120+DarkSharpness@users.noreply.github.com>
cpp/support/cpptrace.h Yixin Dong <yixind@andrew.cmu.edu>
cpp/support/dynamic_bitset.h Ubospica <ubospica@gmail.com>
cpp/support/encoding.h Ubospica <ubospica@gmail.com>
cpp/support/int_set.h Ubospica <ubospica@gmail.com>
cpp/support/json_serializer.h DarkSharpness <76582120+DarkSharpness@users.noreply.github.com>
cpp/support/logging.cc Ubospica <ubospica@gmail.com>
cpp/support/logging.h Ubospica <ubospica@gmail.com>
cpp/support/memory_size.h Yixin Dong <yixind@andrew.cmu.edu> DarkSharpness <76582120+DarkSharpness@users.noreply.github.com>
cpp/support/recursion_guard.cc Yixin Dong <yixind@andrew.cmu.edu>
cpp/support/recursion_guard.h Yixin Dong <yixind@andrew.cmu.edu>
cpp/support/reflection.h DarkSharpness <76582120+DarkSharpness@users.noreply.github.com>
cpp/support/thread_pool.h Yixin Dong <ubospica@gmail.com>
cpp/support/thread_safe_cache.h DarkSharpness <76582120+DarkSharpness@users.noreply.github.com> Yixin Dong <ubospica@gmail.com>
cpp/support/union_find_set.h Linzhang Li <Blemiade_Qinchuan@sjtu.edu.cn> Linzhang Li <144923845+Seven-Streams@users.noreply.github.com>
cpp/support/utils.h Yixin Dong <yixind@andrew.cmu.edu>
cpp/testing.cc Yixin Dong <yixind@andrew.cmu.edu>
cpp/testing.h Yixin Dong <yixind@andrew.cmu.edu>
cpp/tokenizer_info.cc Yixin Dong <ubospica@gmail.com>
cpp/tokenizer_info_impl.h Yixin Dong <ubospica@gmail.com> DarkSharpness <76582120+DarkSharpness@users.noreply.github.com>
docs/.gitignore Ruihang Lai <ruihangl@cs.cmu.edu> Yixin Dong <yixind@andrew.cmu.edu>
docs/Makefile Ruihang Lai <ruihangl@cs.cmu.edu>
docs/README.md Ruihang Lai <ruihangl@cs.cmu.edu>
docs/_static/css/fix_text_selection.css Yixin Dong <yixind@andrew.cmu.edu>
docs/_static/img/logo.png
docs/_static/img/mlc-logo-with-text-landscape.svg Ruihang Lai <ruihangl@cs.cmu.edu>
docs/api/python/bitmask_ops.rst Yixin Dong <yixind@andrew.cmu.edu>
docs/api/python/compiled_grammar.rst Yixin Dong <yixind@andrew.cmu.edu>
docs/api/python/config.rst Yixin Dong <yixind@andrew.cmu.edu>
docs/api/python/exception.rst Yixin Dong <yixind@andrew.cmu.edu>
docs/api/python/grammar.rst Yixin Dong <yixind@andrew.cmu.edu>
docs/api/python/grammar_compiler.rst Yixin Dong <yixind@andrew.cmu.edu>
docs/api/python/grammar_matcher.rst Yixin Dong <yixind@andrew.cmu.edu>
docs/api/python/index.rst Yixin Dong <yixind@andrew.cmu.edu>
docs/api/python/structural_tag.rst Yixin Dong <yixind@andrew.cmu.edu>
docs/api/python/testing.rst Yixin Dong <yixind@andrew.cmu.edu>
docs/api/python/tokenizer_info.rst Yixin Dong <yixind@andrew.cmu.edu>
docs/build_docs.sh Yixin Dong <yixind@andrew.cmu.edu>
docs/conf.py Yixin Dong <yixind@andrew.cmu.edu> Ruihang Lai <ruihangl@cs.cmu.edu>
docs/developer_guide/building_docs.md Yixin Dong <yixind@andrew.cmu.edu>
docs/developer_guide/code_coverage.md Yixin Dong <yixind@andrew.cmu.edu> Linzhang Li <Blemiade_Qinchuan@sjtu.edu.cn>
docs/index.rst Yixin Dong <yixind@andrew.cmu.edu>
docs/requirements.txt Yixin Dong <yixind@andrew.cmu.edu>
docs/start/installation.md Yixin Dong <yixind@andrew.cmu.edu>
docs/start/quick_start.md Yixin Dong <yixind@andrew.cmu.edu> Charlie Ruan <53290280+CharlieFRuan@users.noreply.github.com>
docs/tutorials/advanced_structural_tag.md Yixin Dong <yixind@andrew.cmu.edu>
docs/tutorials/advanced_topics.md Yixin Dong <yixind@andrew.cmu.edu> Linzhang Li <yuchuan.7streams@gmail.com>
docs/tutorials/constrained_decoding.md Yixin Dong <yixind@andrew.cmu.edu>
docs/tutorials/ebnf_guided_generation.md Charlie Ruan <53290280+CharlieFRuan@users.noreply.github.com>
docs/tutorials/engine_integration.md Charlie Ruan <53290280+CharlieFRuan@users.noreply.github.com> Yixin Dong <yixind@andrew.cmu.edu>
docs/tutorials/json_generation.md Charlie Ruan <53290280+CharlieFRuan@users.noreply.github.com>
docs/tutorials/structural_tag.md Yixin Dong <yixind@andrew.cmu.edu>
docs/tutorials/workflow_of_xgrammar.md Yixin Dong <yixind@andrew.cmu.edu>
docs/wrap_run_llm.py Yixin Dong <yixind@andrew.cmu.edu>
docs/xgrammar_features/javascript_api.md Yixin Dong <yixind@andrew.cmu.edu>
docs/xgrammar_features/runtime_safeguards.md Yixin Dong <yixind@andrew.cmu.edu>
docs/xgrammar_features/serialization.md DarkSharpness <76582120+DarkSharpness@users.noreply.github.com> Yixin Dong <yixind@andrew.cmu.edu>
examples/benchmark/README.md Jialin Ouyang <Jialin.Ouyang@gmail.com> Yixin Dong <ubospica@gmail.com>
examples/benchmark/bench_apply_token_bitmask_inplace.py Jialin Ouyang <Jialin.Ouyang@gmail.com> Enwei Zhu <enwei.zhu@outlook.com>
examples/benchmark/bench_grammar_compile_mask_gen.py Yixin Dong <ubospica@gmail.com>
examples/benchmark/cibench_grammar_compile_mask_gen.py Alexander Jiang <zander.jiang@gmail.com>
examples/hf_transformers/transformers_example.py Charlie Ruan <53290280+CharlieFRuan@users.noreply.github.com>
include/xgrammar/compiler.h Yixin Dong <ubospica@gmail.com>
include/xgrammar/config.h DarkSharpness <76582120+DarkSharpness@users.noreply.github.com>
include/xgrammar/exception.h Yixin Dong <yixind@andrew.cmu.edu> DarkSharpness <76582120+DarkSharpness@users.noreply.github.com>
include/xgrammar/grammar.h Yixin Dong <yixind@andrew.cmu.edu> Yixin Dong <ubospica@gmail.com>
include/xgrammar/matcher.h Yixin Dong <ubospica@gmail.com>
include/xgrammar/object.h Ubospica <ubospica@gmail.com> Yixin Dong <yixind@andrew.cmu.edu>
include/xgrammar/tokenizer_info.h Yixin Dong <ubospica@gmail.com> DarkSharpness <76582120+DarkSharpness@users.noreply.github.com>
include/xgrammar/xgrammar.h Yixin Dong <ubospica@gmail.com> Ubospica <ubospica@gmail.com>
pyproject.toml Zac Bowling <zac@zacbowling.com>
python/xgrammar/__init__.py Yixin Dong <yixind@andrew.cmu.edu>
python/xgrammar/base.py Yixin Dong <ubospica@gmail.com>
python/xgrammar/compiler.py Yixin Dong <yixind@andrew.cmu.edu> Yixin Dong <ubospica@gmail.com>
python/xgrammar/config.py Yixin Dong <yixind@andrew.cmu.edu>
python/xgrammar/contrib/__init__.py
python/xgrammar/contrib/hf.py Charlie Ruan <53290280+CharlieFRuan@users.noreply.github.com>
python/xgrammar/contrib/mlxlm.py Yi Wang <wyi@apple.com>
python/xgrammar/exception.py DarkSharpness <76582120+DarkSharpness@users.noreply.github.com> Yixin Dong <yixind@andrew.cmu.edu>
python/xgrammar/grammar.py Yixin Dong <yixind@andrew.cmu.edu>
python/xgrammar/kernels/__init__.py Yixin Dong <yixind@andrew.cmu.edu>
python/xgrammar/kernels/apply_token_bitmask_inplace_cpu.py Jialin Ouyang <Jialin.Ouyang@gmail.com>
python/xgrammar/kernels/apply_token_bitmask_inplace_cuda.cu Enwei Zhu <enwei.zhu@outlook.com> Yixin Dong <yixind@andrew.cmu.edu>
python/xgrammar/kernels/apply_token_bitmask_inplace_cuda.py Zac Bowling <zac@zacbowling.com> Enwei Zhu <enwei.zhu@outlook.com>
python/xgrammar/kernels/apply_token_bitmask_inplace_torch_compile.py Yixin Dong <yixind@andrew.cmu.edu>
python/xgrammar/kernels/apply_token_bitmask_inplace_triton.py Yixin Dong <yixind@andrew.cmu.edu> Zihao Ye <zihaoye.cs@gmail.com>
python/xgrammar/kernels/apply_token_bitmask_mlx.py Yi Wang <yi.wang.2005@gmail.com>
python/xgrammar/matcher.py Yixin Dong <ubospica@gmail.com>
python/xgrammar/py.typed
python/xgrammar/structural_tag.py Yixin Dong <yixind@andrew.cmu.edu>
python/xgrammar/support/__init__.py
python/xgrammar/support/logging.py Ruihang Lai <ruihangl@cs.cmu.edu>
python/xgrammar/testing.py Yixin Dong <yixind@andrew.cmu.edu>
python/xgrammar/tokenizer_info.py Yixin Dong <ubospica@gmail.com>
scripts/build-environment.yaml Ruihang Lai <ruihangl@cs.cmu.edu>
scripts/docker/bash.sh Ruihang Lai <ruihangl@cs.cmu.edu>
scripts/gh_deploy_site.sh Ruihang Lai <ruihangl@cs.cmu.edu>
scripts/lint.sh Ubospica <ubospica@gmail.com>
scripts/local_deploy_site.sh Ruihang Lai <ruihangl@cs.cmu.edu> Yixin Dong <yixind@andrew.cmu.edu>
scripts/release_new_version.sh Yixin Dong <yixind@andrew.cmu.edu>
scripts/run_coverage.sh Linzhang Li <Blemiade_Qinchuan@sjtu.edu.cn>
scripts/run_ctest.sh Yixin Dong <yixind@andrew.cmu.edu>
scripts/support/build_site.sh Ruihang Lai <ruihangl@cs.cmu.edu> Yixin Dong <yixind@andrew.cmu.edu>
site/.gitignore Ruihang Lai <ruihangl@cs.cmu.edu>
site/CNAME Ruihang Lai <ruihangl@cs.cmu.edu>
site/Gemfile Ruihang Lai <ruihangl@cs.cmu.edu>
site/_config.yml Ruihang Lai <ruihangl@cs.cmu.edu>
site/_includes/arrow.svg Ruihang Lai <ruihangl@cs.cmu.edu>
site/_includes/github.svg Ruihang Lai <ruihangl@cs.cmu.edu>
site/_includes/head.html Ruihang Lai <ruihangl@cs.cmu.edu>
site/_includes/hero.html Ruihang Lai <ruihangl@cs.cmu.edu>
site/assets/css/hero.scss Ruihang Lai <ruihangl@cs.cmu.edu>
site/index.md Ruihang Lai <ruihangl@cs.cmu.edu>
tests/README.md Charlie Ruan <53290280+CharlieFRuan@users.noreply.github.com>
tests/cpp/test_fsm.cc Linzhang Li <144923845+Seven-Streams@users.noreply.github.com> Linzhang Li <Blemiade_Qinchuan@sjtu.edu.cn>
tests/cpp/test_fsm_builder.cc Linzhang Li <Blemiade_Qinchuan@sjtu.edu.cn>
tests/cpp/test_parser.cc Yixin Dong <yixind@andrew.cmu.edu>
tests/cpp/test_serialization.cc DarkSharpness <76582120+DarkSharpness@users.noreply.github.com>
tests/cpp/test_thread_pool.cc Yixin Dong <ubospica@gmail.com> Yixin Dong <yixind@andrew.cmu.edu>
tests/cpp/test_thread_safe_cache.cc Yixin Dong <yixind@andrew.cmu.edu>
tests/cpp/test_utils.h Yixin Dong <yixind@andrew.cmu.edu>
tests/python/test_function_calling_converter.py Linzhang Li <Blemiade_Qinchuan@sjtu.edu.cn>
tests/python/test_grammar_compiler.py Yixin Dong <ubospica@gmail.com>
tests/python/test_grammar_matcher_basic.py Yixin Dong <ubospica@gmail.com>
tests/python/test_grammar_matcher_ebnf.py Ubospica <ubospica@gmail.com>
tests/python/test_grammar_matcher_json.py Ubospica <ubospica@gmail.com>
tests/python/test_grammar_matcher_json_schema.py Alexander Jiang <zander.jiang@gmail.com>
tests/python/test_grammar_matcher_macro.py Yixin Dong <yixind@andrew.cmu.edu> Linzhang Li <Blemiade_Qinchuan@sjtu.edu.cn>
tests/python/test_grammar_matcher_regex.py Yixin Dong <yixind@andrew.cmu.edu>
tests/python/test_grammar_matcher_structural_tag.py Yixin Dong <yixind@andrew.cmu.edu> Linzhang Li <Blemiade_Qinchuan@sjtu.edu.cn>
tests/python/test_grammar_parser.py Yixin Dong <yixind@andrew.cmu.edu>
tests/python/test_grammar_parser_macro.py Linzhang Li <Blemiade_Qinchuan@sjtu.edu.cn> Yixin Dong <yixind@andrew.cmu.edu>
tests/python/test_grammar_union_concat.py Yixin Dong <yixind@andrew.cmu.edu>
tests/python/test_json_schema_converter.py Yixin Dong <yixind@andrew.cmu.edu>
tests/python/test_recursion_depth.py Yixin Dong <yixind@andrew.cmu.edu>
tests/python/test_regex_converter.py Yixin Dong <ubospica@gmail.com>
tests/python/test_serialization.py DarkSharpness <76582120+DarkSharpness@users.noreply.github.com>
tests/python/test_structural_tag_converter.py Yixin Dong <yixind@andrew.cmu.edu>
tests/python/test_token_bitmask_operations.py Yixin Dong <yixind@andrew.cmu.edu>
tests/python/test_tokenizer_info.py Yixin Dong <ubospica@gmail.com>
web/.eslintignore Charlie Ruan <53290280+CharlieFRuan@users.noreply.github.com>
web/.eslintrc.cjs Charlie Ruan <53290280+CharlieFRuan@users.noreply.github.com>
web/.gitignore Charlie Ruan <53290280+CharlieFRuan@users.noreply.github.com>
web/README.md Charlie Ruan <53290280+CharlieFRuan@users.noreply.github.com>
web/build.sh Charlie Ruan <53290280+CharlieFRuan@users.noreply.github.com>
web/config.cmake Charlie Ruan <53290280+CharlieFRuan@users.noreply.github.com>
web/example/package.json Charlie Ruan <53290280+CharlieFRuan@users.noreply.github.com>
web/example/src/example.html Charlie Ruan <53290280+CharlieFRuan@users.noreply.github.com>
web/example/src/example.ts Charlie Ruan <53290280+CharlieFRuan@users.noreply.github.com>
web/example/tsconfig.json Charlie Ruan <53290280+CharlieFRuan@users.noreply.github.com>
web/jest.config.cjs Charlie Ruan <53290280+CharlieFRuan@users.noreply.github.com>
web/package-lock.json Charlie Ruan <53290280+CharlieFRuan@users.noreply.github.com>
web/package.json Charlie Ruan <53290280+CharlieFRuan@users.noreply.github.com>
web/rollup.config.js Charlie Ruan <53290280+CharlieFRuan@users.noreply.github.com>
web/run_test.sh Charlie Ruan <53290280+CharlieFRuan@users.noreply.github.com>
web/src/index.ts Charlie Ruan <53290280+CharlieFRuan@users.noreply.github.com>
web/src/xgrammar.ts Charlie Ruan <53290280+CharlieFRuan@users.noreply.github.com>
web/src/xgrammar_binding.cc Charlie Ruan <53290280+CharlieFRuan@users.noreply.github.com>
web/tests/grammar.test.ts Charlie Ruan <53290280+CharlieFRuan@users.noreply.github.com>
web/tsconfig.json Charlie Ruan <53290280+CharlieFRuan@users.noreply.github.com>
