# Project-wide maintainers and role changes are documented in GOVERNANCE.md.

# source files
/include @Ubospica  @Seven-Streams @DarkSharpness
/cpp/tvm_ffi @Ubospica @Seven-Streams
/cpp/support @Ubospica @DarkSharpness
/cpp/*.cc @Ubospica @Seven-Streams @DarkSharpness
/cpp/*.h @Ubospica @Seven-Streams @DarkSharpness
/python @Ubospica
/web @CharlieFRuan

# tests
tests/cpp @Ubospica @Seven-Streams @DarkSharpness
tests/python @Ubospica @Seven-Streams

# Miscellaneous
/GOVERNANCE.md @Ubospica @Seven-Streams
/CODE_OF_CONDUCT.md @Ubospica @Seven-Streams
/CONTRIBUTING.md @Ubospica @Seven-Streams
/CODEOWNERS @Ubospica @Seven-Streams
/README.md @Ubospica @Seven-Streams
/.github @Ubospica @Seven-Streams
/3rdparty @Ubospica
/assets @Ubospica
/cmake @Ubospica
/docs @Ubospica @Seven-Streams
/examples @Ubospica
/scripts @Ubospica
/site @Ubospica
