autodoc-pydantic
autodocsumm
furo
ipykernel
ipywidgets
jupyter_client
linkify-it-py
markdown>=3.4.0
matplotlib
myst-parser
nbconvert
nbsphinx
nbstripout
pandoc
pillow
pydantic
sentencepiece
setuptools==81.0.0
sphinx>=8.2
sphinx-autobuild
sphinx-copybutton
sphinx-reredirects
sphinx-tabs
sphinx-toolbox
sphinxcontrib-mermaid
sphinxcontrib_httpdomain
tiktoken
tomli
torch
transformers>=4.38.0
urllib3>=2.5.0
